/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #eafaf1;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 1px solid #76c893;
}

h1 {
    text-align: center;
    color: #4caf50;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px 0;
    color: #388e3c;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #76c893;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

fieldset {
    border: 1px solid #4caf50;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

legend {
    color: #388e3c;
}

button {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #388e3c;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #388e3c;
}
